
<div class="container">
<form ng-submit="signIn()">
<h2>Login to Admin panel</h2>  <h5  style="color:{{resultColor}}" ng-bind="result"></h5>
  <div class="input-field col s6">
  	<input id="icon_prefix" type="text" class="validate" ng-model="email">
  	<label for="icon_prefix">Email</label>
  </div>

  <div class="input-field col s6">
  	<input id="icon_prefix" type="text" class="validate" ng-model="pass">
  	<label for="icon_prefix">Password</label>
  </div>
  <button type="submit" class="btn waves-effect waves-light"><i class="material-icons right">send</i>Login</button> 
  <button type="button" class="btn btn-warning red" ng-click="signUp()"> Sign up</button>
</form>
</div>
 
<hr>